---
- Travis Media:
    - Website:
          - href: https://travis.media
            abbr: "TM"
    - YouTube Studio:
          - href: https://studio.youtube.com
            abbr: "YTS"
    - YouTube:
          - href: https://youtube.com
            icon: youtube
    - Skool:
          - href: https://www.skool.com/travis-media-community
            abbr: "TMC"
    - Gmail:
          - href: https://mail.google.com
            icon: gmail
    - GitHub:
          - href: https://github.com
            icon: github
    - YNAB:
          - href: https://app.ynab.com
            icon: ynab
    - Impact:
          - href: https://impact.com
            abbr: "IMP"
    - Passionfroot:
          - href: https://workspace.passionfroot.me
            abbr: "PF"
    - Rybbit:
          - href: https://app.rybbit.io
            icon: rybbit
    - Quickbooks:
          - href: https://selfemployed.intuit.com
            abbr: "QB"

- AI:
    - ChatGPT:
          - href: https://chatgpt.com
            icon: chatgpt
    - Claude:
          - href: https://claude.ai
            icon: claude-ai
    - Gemini:
          - href: https://gemini.com
            icon: google-gemini

- General:
    - Amazon:
          - href: https://amazon.com
            icon: amazon
