---
- Homelab Services:
    - Nextcloud:
        icon: nextcloud.png
        href: https://{{ nextcloud_domain }}
        description: Cloud storage and collaboration platform

    - Portainer:
        icon: portainer.png
        href: https://{{ portainer_domain }}
        description: Docker container management

    - Traefik:
        icon: traefik.png
        href: https://{{ traefik_host }}.{{ base_domain }}
        description: Reverse proxy and load balancer
