---
- resources:
    cpu: true
    memory: true
    disk: /


- search:
    provider: google
    focus: false
    showSearchSuggestions: true
    target: _blank

- datetime:
    text_size: sm
    format:
      timeStyle: short
      hour12: true
      timeZone: 'America/New_York'
