---
- resources:
    label: System
    cpu: true
    memory: true
    disk: /
    uptime: true

- openmeteo:
    label: Weather
    latitude: 36.66
    longitude: -117.51
    units: imperial
    cache: 5
