# Global
base_domain: yourdomain.com
timezone: America/New_York

# Service Deployment Toggles
deploy_traefik: true
deploy_portainer: true
deploy_nextcloud: true
deploy_pihole: true
deploy_firewall: true
deploy_homepage: true
deploy_vaultwarden: true

# Traefik
traefik_dir: /srv/docker/traefik
docker_network: proxy
traefik_image: traefik:v3.6
traefik_host: traefik

# Pi-hole
pihole_dir: /srv/docker/pihole
pihole_host: pihole
pihole_domain: "{{ pihole_host }}.{{ base_domain }}"
pihole_ip: pihole.ip.address
pihole_image: pihole/pihole:2025.11.1
unbound_image: alpinelinux/unbound:latest  # Alpine only provides 'latest' tag, no version numbers
pihole_dns1: 127.0.0.1#5335
pihole_dns2: 127.0.0.1#5335

# Portainer
portainer_dir: /srv/docker/portainer
portainer_host: portainer
portainer_domain: "{{ portainer_host }}.{{ base_domain }}"
portainer_image: portainer/portainer-ce:2.33.6

# NextCloud
nextcloud_dir: /srv/docker/nextcloud
nextcloud_host: nextcloud
nextcloud_domain: "{{ nextcloud_host }}.{{ base_domain }}"
nextcloud_datadir: /mnt/nas/nextcloud-data
nextcloud_image: nextcloud/all-in-one:latest # AIO recommends using latest

# Homepage
homepage_dir: /srv/docker/homepage
homepage_host: homepage
homepage_domain: "{{ homepage_host }}.{{ base_domain }}"
homepage_image: ghcr.io/gethomepage/homepage:v1.8.0

# Vaultwarden
vaultwarden_dir: /srv/docker/vaultwarden
vaultwarden_host: vault
vaultwarden_domain: "{{ vaultwarden_host }}.{{ base_domain }}"
vaultwarden_image: vaultwarden/server:1.34.3
vaultwarden_signups_allowed: true
