services:
  traefik:
    image: {{ traefik_image }}
    container_name: traefik
    restart: unless-stopped

    env_file:
      - .env

    ports:
      - "443:443"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
      - ./dynamic.yml:/dynamic.yml:ro
      - ./acme.json:/acme.json

    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true
