tls:
  options:
    default:
      minVersion: VersionTLS12

http:
  routers:
    traefik-dashboard:
      rule: Host(`{{ traefik_host }}.{{ base_domain }}`)
      entryPoints:
        - websecure
      service: api@internal
      middlewares:
        - traefik-auth
      tls:
        certResolver: dns

    pihole:
      rule: Host(`{{ pihole_host }}.{{ base_domain }}`)
      entryPoints:
        - websecure
      service: pihole
      tls:
        certResolver: dns

    nextcloud:
      rule: Host(`{{ nextcloud_host }}.{{ base_domain }}`)
      entryPoints:
        - websecure
      service: nextcloud
      tls:
        certResolver: dns
      middlewares:
        - nextcloud-chain

  services:
    pihole:
      loadBalancer:
        servers:
          - url: "http://{{ pihole_ip }}:80"

    nextcloud:
      loadBalancer:
        servers:
          - url: "http://nextcloud-aio-apache:11000"

  middlewares:
    traefik-auth:
      basicAuth:
        users:
          - "{{ traefik_dashboard_auth }}"

    nextcloud-secure-headers:
      headers:
        hostsProxyHeaders:
          - "X-Forwarded-Host"
        referrerPolicy: "same-origin"

    https-redirect:
      redirectScheme:
        scheme: https

    nextcloud-chain:
      chain:
        middlewares:
          - https-redirect
          - nextcloud-secure-headers
