- name: Proxy host (Traefik, Docker, Firewall)
  hosts: proxy
  become: true
  vars_files:
    - ../vars/homelab.yml
    - ../vars/vault.yml
  roles:
    - common
    - docker
    - role: traefik
      when: deploy_traefik | default(true)
    - role: portainer
      when: deploy_portainer | default(true)
    - role: nextcloud
      when: deploy_nextcloud | default(true)
    - role: firewall
      when: deploy_firewall | default(true)

- name: DNS host (Pi-hole)
  hosts: dns
  become: true
  vars_files:
    - ../vars/homelab.yml
    - ../vars/vault.yml
  roles:
    - role: pihole
      when: deploy_pihole | default(true)
