- name: Check if Pi-hole is installed
  stat:
    path: /usr/local/bin/pihole
  register: pihole_binary

- name: Fail if Pi-hole is not installed
  fail:
    msg: "Pi-hole is not installed. Install it manually first."
  when: not pihole_binary.stat.exists

- name: Deploy Pi-hole config
  template:
    src: pihole.toml.j2
    dest: /etc/pihole/pihole.toml
    owner: pihole
    group: pihole
    mode: "0644"
  notify: Restart Pi-hole

- name: Ensure Pi-hole service is running
  service:
    name: pihole-FTL
    state: started
    enabled: true
