- name: Disable systemd-resolved to free port 53
  systemd:
    name: systemd-resolved
    enabled: false
    state: stopped

- name: Create Pi-hole directory
  file:
    path: "{{ pihole_dir }}"
    state: directory
    owner: root
    group: docker
    mode: "0755"

- name: Create unbound directory
  file:
    path: "{{ pihole_dir }}/unbound"
    state: directory
    owner: root
    group: docker
    mode: "0755"

- name: Deploy unbound config
  template:
    src: unbound.conf.j2
    dest: "{{ pihole_dir }}/unbound/unbound.conf"
    owner: root
    group: docker
    mode: "0644"

- name: Create Pi-hole etc-pihole directory
  file:
    path: "{{ pihole_dir }}/etc-pihole"
    state: directory
    owner: root
    group: docker
    mode: "0755"

- name: Create Pi-hole hosts directory
  file:
    path: "{{ pihole_dir }}/etc-pihole/hosts"
    state: directory
    owner: root
    group: docker
    mode: "0755"

- name: Deploy custom DNS records
  template:
    src: custom.list.j2
    dest: "{{ pihole_dir }}/etc-pihole/hosts/homelab.hosts"
    owner: root
    group: docker
    mode: "0644"
  notify: reload pihole dns

- name: Check if private DNS records exist
  stat:
    path: "{{ playbook_dir }}/../roles/pihole/templates/custom-private.list.j2"
  delegate_to: localhost
  become: false
  register: private_dns_file

- name: Deploy private DNS records
  template:
    src: custom-private.list.j2
    dest: "{{ pihole_dir }}/etc-pihole/hosts/private.hosts"
    owner: root
    group: docker
    mode: "0644"
  when: private_dns_file.stat.exists
  notify: reload pihole dns

- name: Deploy Pi-hole compose file
  template:
    src: docker-compose.yml.j2
    dest: "{{ pihole_dir }}/docker-compose.yml"
    owner: root
    group: docker
    mode: "0644"

- name: Start Pi-hole
  community.docker.docker_compose_v2:
    project_src: "{{ pihole_dir }}"
    state: present
